.fancybutton {
  width: 161px;
  line-height: 24px;
  margin: 0.5rem;
  border: 0;
  border-radius: 5px;
  margin-bottom: 0.61rem;
  margin-top: 0.57rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #034940e8;
  font-weight: 600;

  background-color: #07f7d779;
}
.fancybutton:hover {
  animation: anim 0.25s linear;
  background-color: #15e3c8;
  color: rgb(6, 42, 42);
  cursor: pointer;
}
.fancybutton:disabled {
  color: #ffffff;
  font-weight: 800;
  cursor: not-allowed;
}

@media (max-width: 925px) {
  .fancybutton {
    max-width: 159px;
  }
  .fancybutton:disabled {
    color: #ffffff;
    font-weight: 700;
    cursor: not-allowed;
  }
}
@media (max-width: 564px) {
  .fancybutton {
    max-width: 140px;
    line-height: 20px;
  }
  .fancybutton:disabled {
    color: #ffffff;
    font-weight: 00;
    cursor: not-allowed;
  }
}
@media (max-width: 440px) {
  .fancybutton {
    max-width: 129px;
    line-height: 20px;
  }
  .fancybutton:disabled {
    color: #ffffff;
    font-weight: 00;
    cursor: not-allowed;
  }
}
