.Backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(7, 57, 65, 0.695);
}

.ModalOverlay {
  position: fixed;
  max-width: 50%;
  left: 25%;
  right: 25%;
  top: 20%;
  background-color: rgba(103, 194, 203, 0.708);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 0 20px 8px rgba(22, 95, 103, 0.774);
  z-index: 30;
  animation: slide-down 0.7s ease-out forwards;
}
@media (max-width: 1011px) {
  .ModalOverlay {
    position: fixed;
    max-width: 90%;
    left: 5%;
    right: 5%;
    top: 20%;
    background-color: rgba(103, 194, 203, 0.708);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 0 20px 8px rgba(22, 95, 103, 0.774);
    z-index: 30;
    animation: slide-down 0.5s ease-out forwards;
  }
}
@media (max-width: 376px) {
  .ModalOverlay {
    position: fixed;
    max-width: 90%;
    left: 5%;
    right: 5%;
    top: 20%;
    background-color: rgba(103, 194, 203, 0.708);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 0 20px 8px rgba(22, 95, 103, 0.774);
    z-index: 30;
    animation: slide-down 0.5s ease-out forwards;
    /* transition: height 1.5s ease; */
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
